<form action="/login" method="GET" class="container-sm">
    <div class="mb-3 form-group">
        <h2>Login de prueba</h2>
    </div>
    <div class="mb-3 form-group">
        <label for="usuarioId" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuarioId" name="usuario" value="" placeholder="Ingrese un nombre de usuario">
    </div>
    <div class="mb-3 form-group">
        <label for="passwordId" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordId" placeholder="Contraseña">
    </div>
    <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" value="Ingresar">
    </div>
</form>


